.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #FFFFFF;
}

h1 {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  /* text-shadow: 5px 0 #232931; */
  font-size: 6rem;
  color: #000;
}
.trophy1{
  color:#FFD43B;
  font-size: 3rem;
  margin: 10px;
}
.trophy2{
  color:#FFD43B;
  font-size: 3rem;
  margin: 10px;
}
.trp1{
  visibility: hidden;
}
.trp2{
  visibility: hidden;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: 1px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #14D87A;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 80%;
}

.dice-img{
  width: 300px;
  height: 300px;
}

footer {
  margin-top: 5%;
  color: #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}
